.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  padding: 30px;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.input-stats {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.single-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bold{
    fond-weight : bold;
}

.flight-info {
  list-style: none;
  padding: 0;
}

.flight-info > li {
  margin-bottom: 20px;
}

.departure-info,
.arrival-info {
  margin-left: 20px;
}

.departure-info li:before {
  content: "- ";
}

.arrival-info li:before {
  content: "- ";
}

.airport-capacity {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.airport-codes {
  font-weight: normal;
  font-style: italic;
}